html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      49% 81% at 45% 47%,
      #03ff6d45 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #f8ddd4 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #fae5f4 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #71ceebff 0%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, #e583b9 0%, #ac23d7ff 100%);
}
#text-box {
  background-color: rgba(255, 255, 255, 0.182);
}
#text-box h3 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  text-align: center;
  background-color: #e583b92b;
}

#text-box p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  text-align: center;
  background-color: #e583b92b;
}
